@{
    ViewBag.Title = "TeacherNotFound";
    Layout = "~/Views/Shared/UALogin.cshtml";
}

    @section title
    {
        <title>Easy Course Registration System | TeacherNotFound</title>
    }
<!-- start plugins -->
        

    <center><h2 text-align="center">Sorry!<br> Teacher is not Available For this Course yet.   <br><br><br><br><br><br><br><br></h2></center>
