@{
    ViewBag.Title = "NotEnroll";
    Layout = "~/Views/Shared/UALogin.cshtml";
}


  
    <center><h2 text-align="center">Sorry!<br> Sorry ! Cannot Enroll in Desired Course And Teacher.   <br><br><br><br><br><br><br><br></h2></center>