@{
    ViewBag.Title = "CheckReg";
    Layout = "~/Views/shared/BeforeLogin.cshtml";
}

<center><h2 text-align="center">Sorry!<br> Sorry ! Cannot Register you Now.   <br><br><br><br><br><br><br><br></h2></center>
